.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.side {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background: var(--secondry-background);
  gap: 10px;
}
.logo {
  display: flex;
  align-items: center;
  h1 {
    font: 1rem;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  button {
    flex: 1;
    padding: 1rem;
    background: #323233;
    outline: none;
    border: none;
    border-radius: 6px;
    &:hover {
      background: #424244;
    }
  }
}
